
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--IMPORT STATIC FILE-->
    {% load static%}
    <title>Report{% block title%}{% endblock%}</title>
    <!-- CSS LINK-->
    <link rel="stylesheet" href="{% static 'css\navbar.css'%}">
    <!-- JS LINK-->
    <script src="{% static 'js\navbar.js'%}"></script>
</head>
<body>
    <h1>this is header templates</h1>
</body>
</html>